<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>EgoValley</title>

    <style>
        body{background: url(static/images/egovalley.jpg) no-repeat center 0}
    </style>
</head>
<body>
    <br/>
    <div align="center">
        <h1 style="color: #FFFFFF;">
            Welcome To The EgoValley!
        </h1>
        <h1 style="color: #FFFFFF;">
            Although There Is Empty Here Now~
        </h1>
        <h1 style="color: #FFFFFF;">
            But It Will Full Of Vigor In The Near Future...
        </h1>
        <h1 style="color: #FFFFFF;">
            Like her↓
        </h1>
        <img th:src="@{static/images/lulu.jpg}" style="height: 288px; width: 216px">
    </div>

    <script type="text/javascript" th:src="@{static/js/jquery-1.11.0.min.js}"></script>
    <script type="text/javascript" th:src="@{static/js/test.js}"></script>
</body>
</html>