<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<div th:fragment="myFooter">
    <div class="mastfoot">
        <div class="inner">
            <div class="link-bottom"></div>
            <p>
                上海应用技术小学兴趣班&nbsp;
                <a href="javascript:;" onclick="toJoke1()">版权被抢了</a>
                &nbsp;by&nbsp;
                <a href="javascript:;" onclick="toJoke2()">@Joker</a>
            </p>
        </div>
    </div>
</div>
</html>