<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" th:href="@{static/images/ego-small.png}">
    <title>EgoValley</title>
</head>

<body>

    <script th:src="@{static/js/jquery-1.11.3.min.js}"></script>
    <script>
        $(function () {
            alert("您未登录，请先登录！");
            location.href = "login";
        });
    </script>
</body>
</html>
